/* Navbar */
.navbar {
  color: #414141 !important;
  justify-content: center !important;
}

.bg-light {
  background-color: lightsteelblue !important;
}

.brand-icon {
  height: 25px;
}

/* Header */
.header {
  background-color: lightsteelblue;
  text-align: center;
  padding: 50px 20px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 20px;
}

.header h1 {
  font-weight: bold;
}

/* Content */
.content {
  line-height: 1.8em;
}

.content h2 {
  margin-top: 1.25em;
}

.content p:last-of-type {
  margin-bottom: 1.5em;
}

/* Blog Grid */
.blog-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.2em 0;
}

/* Footer */
.footer {
  background-color: lightsteelblue;
  padding: 15px;
  text-align: center;
}

.footer a {
  color: #414141;
}

.footer p {
  font-size: 0.8em;
  margin: 0;
}

/* Desktop */
@media only screen and (min-width: 451px) {
  .header h1 {
    font-size: 2.5em;
  }

  .blog-item {
    width: 47%;
    padding-bottom: 0;
  }
  
  .blog-item p {
    font-size: 0.9em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}