/* General */
hr {
  border-top: 2px dotted;
  margin-top: 30px;
  margin-bottom: 30px;
  color:dimgrey;
}

h1 {
  color: #73869e;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
}

h2 {
  margin-top: 30px;
}

.nav-tip {
  font-style: italic;
  font-size: 1.1em;
  margin-top: 1.5em;
}

.story-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-nav-item {
  display: flex;
  width: 33%;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.nav-icon {
  height: 100px;
}