/* General */
hr {
  border-top: 2px dotted;
  margin-top: 30px;
  margin-bottom: 30px;
  color:dimgrey;
}

h1 {
  color: #73869e;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
}

h2 {
  margin-top: 30px;
}

.nav-tip {
  font-style: italic;
  font-size: 1.1em;
  margin-top: 1.5em;
}

.story-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-nav-item {
  display: flex;
  width: 33%;
}

.left {
  justify-content: flex-start;
  text-align: left;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.center {
  justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 450px) {
  .story-nav-item {
    font-size: 14px;
    line-height: 1.3em;
  }

  .nav-icon {
    height: 75px;
  }
}

/* Desktop */
@media only screen and (min-width: 451px) {
  .nav-icon {
    height: 100px;
  }
}