.header {
  background-color: lightsteelblue;
  text-align: center;
  padding: 50px 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.content p:last-of-type {
  margin-bottom: 20px;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .body {
    font-size: 16px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) {
  .header h1 {
    font-size: 2.5em;
  }

  .blog-item {
    width: 47%;
    padding-bottom: 0;
  }
  
  .blog-item p {
    font-size: 0.9em;
  }
}