table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: lightcoral;
}

.more-info-button {
  font-size: 1.75em;
  font-weight: bold;
  color: lightcoral;
}

.pokemon-type {
  display: inline;
}

.info-container {
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 450px) {
  .pokemon-img {
    height: 100px;
  }
}

/* Desktop */
@media only screen and (min-width: 451px) {
  .pokemon-img {
    height: 150px;
  }
}