table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: lightcoral;
}

.more-info-button {
  font-size: 1.75em;
  font-weight: bold;
  color: lightcoral;
}

.list-header-p {
  margin-bottom: 0 !important;
}

.pokemon-info-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-info-item:not(:last-of-type) {
  margin-right: 3em;
  margin-bottom: 1em;
}

.pokemon-sprite {
  height: 96px;
}

.note {
  font-style: normal;
  font-size: 0.8em;
}

/* Mobile */
@media only screen and (max-width: 450px) {
  #pokemon-table {
    max-width: 450px;
    overflow-x: auto;
    display: block;
  }
  
  .pokemon-img {
    height: 100px;
  }

  .pokemon-type {
    order: -1;
  }
}

/* Desktop */
@media only screen and (min-width: 451px) {
  .pokemon-img {
    height: 150px;
  }
}