/* General Styling */

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  color: #414141;
  font-size: 18px;
  line-height: 1.8em;
}

h1, h2, h3 {
  line-height: 1.3em;
}

.centered {
  text-align: center;
}

.subtitle {
  font-style: italic;
  font-size: 1.1em;
}

.note {
  font-style: italic;
  font-size: 0.9em;
}

/* Page Styling */

.page {
  max-width: 800px;
  margin: 0 auto;
}

/* Link Styling */

a {
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}