/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  color: #414141;
  font-size: 18px;
  line-height: 1.8em;
}

h1, h2, h3 {
  line-height: 1.3em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

/* Navbar */
.navbar {
  color: #414141 !important;
  justify-content: center !important;
}

.bg-light {
  background-color: lightsteelblue !important;
}

.brand-icon {
  height: 25px;
}

/* Page */
.page {
  max-width: 800px;
  margin: 10px auto;
  margin-top: 0;
}

.centered {
  text-align: center;
}

.subtitle {
  font-style: italic;
  font-size: 1.1em;
}

.note {
  font-style: italic;
  font-size: 0.9em;
}

/* Footer */
.footer {
  background-color: lightsteelblue;
  padding: 15px;
  text-align: center;
}

.footer a {
  color: #414141;
}

.footer p {
  font-size: 0.8em;
  margin: 0;
}

/* Link */
a {
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mobile */
@media only screen and (max-width: 40px) {
  .body {
    font-size: 16px;
  }
}

/* Desktop */
@media only screen and (min-width: 451px) {
  .page {
    margin-bottom: 75px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}